<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.iruobin.android.module.base">
<!--    <uses-permission android:name="android.permission.VIBRATE"/>-->
<!--    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>-->
<!--    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>-->
<!--    <uses-permission android:name="android.permission.WRITE_SETTINGS"-->
<!--        tools:ignore="ProtectedPermissions"/>-->
</manifest>
